*:focus {
    outline: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.validation {
    color:#FF3333;
}

.wrapper {
    width: 25%;
    padding: 40px;
    border: 2px solid rgb(67,117,162);
}

.field {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field__label {
    color: #eeeeee;
    background-color:  rgb(67,117,162);
    padding: 12px 10px;
    width: 30%;
    border: 2px solid  rgb(67,117,162);
}
.field__input {
    font-size: 14px;
    font-weight: 400;
    padding: 12px;
    border-radius: 0;
    border: 1px solid  rgb(67,117,162);
    width: 55%;
}

.gender {
    display: flex;
    width: 55%;
    gap: 20px;
}

select {
    width: 55%;
    height: 43px;
    border: 1px solid #3f6db9;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit {
    font-size: 16px;
    color: #eeeeee;
    background-color:  rgb(67,117,162);
    padding: 12px 32px;
    margin-top: 15px;
    border-radius: 10px;
}
*:focus {
    outline: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.wrapper {
    width: 40%;
}

.form-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.field__label {
    padding: 8px 6px;
    width: 120px;
}

.field__input {
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    border-radius: 0;
    border: 1px solid #3f6db9;
    width: 250px;
}

.field > div {
    width: 58%;
}

select {
    width: 250px;
    height: 43px;
    border: 1px solid #3f6db9;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit {
    font-size: 16px;
    color: #eeeeee;
    background-color: #3f6db9;
    padding: 10px 28px;
    border-radius: 10px;
}

.btn-add {
    font-size: 14px;
    color: #eeeeee;
    background-color: #3f6db9;
    padding: 10px 24px;
    border-radius: 10px;
}

.btn-action {
    font-size: 14px;
    color: #eeeeee;
    background-color: #4373c5;
    padding: 8px 20px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.list-student {
    margin-top: 30px;
}